.word-form-container {
    padding: 20px;
    border-radius: 8px; 
    text-align: center;
}

.word-form {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.word-input {
    width: 50%; 
    height: 40px; 
    margin-right: 20px; 
}

.add-button {
    height: 40px; 
    background-color: #4caf50; 
    color: white; 
    padding: 0 20px; 
    transition: background-color 0.3s; 
}

.add-button:hover {
    background-color: #388e3c; 
}
